@* @model Portfolio.Models.HomeIndexViewModel *@
@model IEnumerable<Proyecto>

@if (Model is not null)
{

    <div class="text-center container " style="padding-top: 6rem ;">
        <h1>Proyectos</h1>
        <p>Algunos de mis proyectos</p>
   <partial name="_ListadoProyectos" model="Model"/>
    </div>
}
