@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
    @* string ConvertirMayusculas(string valor)
{
return valor.ToUpper() + "Adición";
}

DateTime hoy = DateTime.Now;

var nombres = new List<string>() { "Juan", "Facundo", "Tam"};
} *@
}


<partial name="_Presentacion" />

<div class="w-50 backSeccion">
<partial name="_Habilidades">
    </div>
<div class="w-75 backSeccion  ">
<partial name="_SectionProyectos" model="Model.Proyectos" />

</div>