@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Juan Facundo Tam</h1>
    <h2>FullStack Developer</h2>
    <img id="foto" src="~/imagenes/foto.png" alt="Mi foto">
</div>
