@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class=" container-skills d-flex flex-column align-items-center justify-content-center pt-5">
<h1 class="text-white">Proyectos</h1>
 <p class="text-white">Todos mis proyectos</p>
   <partial name="_ListadoProyectos" model="Model"/>
    </div>
