@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
<h1>Proyectos</h1>
 <p>Todos mis proyectos</p>
    </div>

   <partial name="_ListadoProyectos" model="Model"/>