@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container justify-content-center mt-5 border border-primary">
<h1>Proyectosssss</h1>
 <p>Todos mis proyectos</p>
    </div>

   <partial name="_ListadoProyectos" model="Model"/>