#foto {
    width: 200px;
    margin: 2rem 0;
    border-radius: 50%;
}

.container-header {
    background-color: rgb(0, 0, 0);
    color: white;
}

.container-sobremi {
    background-color: rgb(0, 0, 0);
    color: white;

}
.seccion-sobremi{
    margin: 40px;


}
.container-skills {
    background-color: rgb(0, 0, 0);
    color: white;

}
.seccion-skills{
    margin: 40px;


}

.iconSkills {
    color: white;
}

.backSeccion{
    background-color: #000000;
    margin: 40px;
    border-radius: 10px;
}